# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints

# Test / coverage
.pytest_cache/
.coverage
.cache
nosetests.xml
coverage.xml

# Build artifacts
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Logs
*.log

# OS / Editor metadata
.DS_Store
Thumbs.db
